{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}
{% load static %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url("{% static 'img/banner.jpg' %}"); /* Ruta del banner */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: #333;

        .h3a {
        font-size: 2rem; /* Tamaño base */
        color: #315fbf;
        line-height: 1.5;
        text-align: center;
        }

    }

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="content">
    <div class="card shadow-sm p-4">
        <h3 class="h3a"><strong>PERFIL</strong></h3>

        <!-- Información del compromiso -->
        <div class="mb-4">
            <p><strong>Nombres:</strong>         {{ user.first_name }}</p>
            <p><strong>Apellidos:</strong>       {{ user.last_name }}</p>
            <p><strong>Email:</strong>           {{ user.email }}</p>
            <p><strong>Username:</strong>        {{ user.username }}</p>
            <p><strong>Último logeo:</strong>    {{ user.last_login }}</p>
            <p><strong>Fecha de Unión:</strong>  {{ user.date_joined }}</p>
            <p><strong>Activo?:</strong>         {{ user.is_active }}</p>

        </div>
    </div>
</div>

<!-- Script para mejorar la responsividad y agregar interactividad -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Puedes agregar lógica adicional aquí si necesitas.
</script>
{% endblock %}

