{% extends 'base.html' %}
{% load static %}
{% block title %}Repositorio de Documentos{% endblock %}

{% block content %}
<style>

  .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;
      margin: 20px 0;
  }
  .card {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
  }

  h3 {
      font-size: 1em;
  }

  h1 {
      font-size: 2rem;
      color: #315fbf;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 40px;
  }

  p {
      font-size: 0.8em;
  }

  @media (max-width: 1024px) {
      h3 {
          font-size: 0.9rem;
      }

      h1 {
          font-size: 1.8rem;
      }
  }

  @media (max-width: 768px) {
      h3 {
          font-size: 0.8rem;
          text-align: left;
      }

      h1 {
          font-size: 1.5rem;
      }
  }

  @media (max-width: 480px) {
      h3 {
          font-size: 0.7rem;
      }

      h1 {
          font-size: 1.3rem;
      }
  }

  .card:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  .card h3 {
      margin: 0 0 5px;
      color: #315fbf;
  }

  /* Lista de documentos con viñetas */
  ul.document-list {
      list-style-type: disc;
      margin-left: 20px;
      padding-left: 10px;
  }

  ul.document-list li {
      margin: 5px 0;
  }

  ul.document-list li a {
      text-decoration: none;
      color: #315fbf;
  }

  ul.document-list li a:hover {
      text-decoration: underline;
  }
</style>

<div class="content">
    <h1><strong>REPOSITORIO {{ documentos.count }}</strong></h1>
    <div class="card-container">
        {% for categoria in categorias %}
            <div class="card">
                <h3><strong>{{ categoria.nombre }}</strong></h3>
                <ul class="document-list">
                    {% for documento in categoria.documentos.all %}
                        <li>
                            <a href="{{ documento.url }}" target="_blank">{{ documento.nombre }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
